In [1]:
import pandas as pd
import cvxpy as cp
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_excel('./data/iniall.xlsx', index_col=0)
df

    工作天数  已工作天数  驾驶资格  历史事故  已安排A  已安排B  已安排C  已安排D
编号
1      6      4     1   1.0   2.0   0.0   0.0   0.0
2     11      6     1   0.0   1.0   1.0   0.0   0.0
3      9      8     1   1.0   1.0   2.0   1.0   0.0
4     10      5     1   2.0   1.0   1.0   1.0   0.0
5     13      8     1   3.0   2.0   1.0   0.0   1.0
6     15     11     1   4.0   1.0   1.0   1.0   1.0
7      6      4     1   2.0   1.0   1.0   0.0   0.0
8     10      5     0   5.0   1.0   0.0   1.0   0.0
9      5      3     0   3.0   0.0   0.0   1.0   1.0
10    10      1     0   0.0   0.0   0.0   0.0   0.0
11     6     -2     1   NaN   NaN   NaN   NaN   NaN
12    10     -3     0   NaN   NaN   NaN   NaN   NaN
13     4     -5     1   NaN   NaN   NaN   NaN   NaN
14     8     -5     0   NaN   NaN   NaN   NaN   NaN
15     5     -6     1   NaN   NaN   NaN   NaN   NaN

In [16]:
df.drop(df.index[df.index>5] ,axis=0, inplace=True)

In [17]:
df

    工作天数  已工作天数  驾驶资格  历史事故  已安排A  已安排B  已安排C  已安排D
编号
3      9     10     1   1.0   1.0   2.0   1.0   0.0
4     10      7     1   2.0   1.0   1.0   1.0   0.0
5     13     10     1   3.0   2.0   1.0   0.0   1.0

In [20]:
df.copy()

    工作天数  已工作天数  驾驶资格  历史事故  已安排A  已安排B  已安排C  已安排D
编号
3      9     10     1   1.0   1.0   2.0   1.0   0.0
4     10      7     1   2.0   1.0   1.0   1.0   0.0
5     13     10     1   3.0   2.0   1.0   0.0   1.0